/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/


/* Elements */

body {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

main {
  width: 80%;
}


article {
  display: flex;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 500%;
  color: #1C3455;
}

h2 {
  margin-top: 80px;
  margin-bottom: 3px;
  font-size: 200%;
  font-family: 'Open-Sans', sans-serif;
}

.leftsection {
background-color: #E6ECF4;
width: 50%;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.askquestion {
  text-align: center;
  font-size: 150%;
  font-family: 'Open-Sans', sans-serif;
  color: #a8a8a8;
  margin: 20px 0px 0px -5px;
  width: 80%;
  height: 40px;

}

#submitbtn {
  font-size: 140%;
  font-family: 'Open-Sans', sans-serif;
  width: 81.5%;
  height: 40px;
  margin: 5px 0px 0px -5px;
  background-color: #607aa0;
  color: #ffffff;
}

input {
  font-family: 'Open-Sans', sans-serif;
}

.woody {
  margin-left: 150px;
}

.eightballimg{
  margin-top: 40px;
}

.rightsection {
/* background-image: url("assets/woody.png"); */
width: 50%;
}

input[submit]:hover {
  background-color: #1C3455;
  color: #ffffff;
}

#magicform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clearsection {
  clear: both;
  float: right;
  margin: 30px 30px -40px 0px;
}
.btnclear {
  float: right;
}

#clearbtn {
  width: 70px;
  height: 30px;
  font-size: 100%;
  font-family: 'Open-Sans', sans-serif;
  color: #ffffff;
  background-color: #cfcdcd;
  margin-top: 85px;
}

/* .active {
  background-color: #DE4841;
} */

#insertquestion {
  font-style: italic;
}

#insertresult {
  font-weight: bold;
}
.disappear {
  display: none;
}

.bold {
  font-weight: bold;
}

.italicize {
  font-style: italic;
  font-weight: 300;
}
